.nav-style{
    background-color: gray;
}

.nav-style > button > a{
    text-decoration: none;
    color: black;
}

.MuiContainer-root.MuiContainer-maxWidthLg.nav-style.css-1oqqzyl-MuiContainer-root {
    position: inherit;
    display: block ruby;
}
