div > div > button.button-style{
    text-decoration: none;
    color: black;
    box-align:center;
    font-size: 18px;
}

div > button.btn-style{
    color: black;
    font-size: 15px;
    border-radius: 4px;
    width: 20%;   
}