div > div-style{
    color: blue;
    box-align:center;
}

div > div > button.button-style{
    color: blue;
    box-align:center;
    font-size: 18px;
}

div > button.btn-style{
    color: blue;
    font-size: 15px;
    border-radius: 4px;
    width: 20%;   
}